#start {
    filter: drop-shadow(0 0 0.25rem #00000090);

    .header {
        position: relative;
        width: 100%;
        height: calc(100% - 5rem);
        background: url("../images/background.webp") no-repeat center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 4rem), 50% 100%, 0 calc(100% - 4rem));

        h1 {
            color: var(--foreground2);
            max-width: 70rem;
            font-size: 4rem;
            text-shadow: 0 0 0.3rem black;
            margin: 1rem 1rem 0.5rem 1rem;
        }

        h2 {
            max-width: 70rem;
            text-shadow: 0 0 0.2rem black;
            margin: 0.5rem 1rem 1rem 1rem;
        }

        .buttons {
            display: flex;
            margin: 2rem;
            max-width: 50rem;
            filter: drop-shadow(0 0 4px black);

            a {
                color: var(--foreground2);
                position: relative;
                user-select: none;
                text-shadow: none;
                text-decoration: none;
                font-weight: 750;
                font-size: 1.25rem;
                padding: 0.5rem 1.25rem;
                margin: 0.25rem 0.5rem;
                background: var(--accent);
                white-space: nowrap;
                text-overflow: ellipsis;
                clip-path: polygon(0 0, calc(100% - 1rem) 0, 100% 1rem, 100% 100%, 1rem 100%, 0 calc(100% - 1rem));
                border-bottom: #00000050 0.25rem solid;
                border-right: #00000050 0.25rem solid;
                min-width: 1.5rem;
            }

            a:hover {
                background: var(--accent2);
                cursor: pointer;
                box-shadow: 0 0 0.5rem var(--accent2);
            }
        }

        .scroll {
            user-select: none;
            z-index: 100;
            bottom: 4rem;
            font-size: 3rem;
            position: absolute;
            animation: hover 2s linear infinite;
            text-shadow: 0 0 0.4rem black;

            a {
                text-decoration: none;
                color: unset;
                transition: none;

                i {
                    color: unset !important;
                }
            }
        }

        .scroll:hover {
            cursor: pointer;
            color: var(--accent3);
            text-shadow: 0 0 0.5rem var(--accent4);
        }
    }

    .header-bg {
        position: absolute;
        top: calc(100% - 11rem);
        background: radial-gradient(var(--accent),var(--accent2));
        width: 100%;
        height: 5rem;
        clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 4rem), 50% 100%, 0 calc(100% - 4rem));
    }
}

@keyframes hover {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-0.15rem);
    }

    75% {
        transform: translateY(0.15rem);
    }

    100% {
        transform: translateY(0);
    }
}